FRONTEND_ORIGINS=http://localhost:4200,http://localhost,capacitor://localhost,http://192.168.1.103:4200
ML_SERVICE_BASE_URL=http://localhost:8000
APP_JWT_SECRET=change-this-demo-secret-key-change-this-demo-secret-key
APP_JWT_EXPIRATION_MS=86400000
